.card-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
  background-color: #00adef;
  color: #fff;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}

.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.card .btn {
  width: 150px;
  margin-top: 20px;
  background-color: #00adef;
  color: #fff;
  border-color: #00adef;
}
.card:hover .btn {
  width: 150px;
  margin-top: 20px;
  background-color: #fff;
  color: #00adef;
  border-color: #fff;
}

/* .view-details-btn {
  background-color: #00adef;
  color: #fff;
  border-color: #00adef;
  font-size: 16px;
  font-weight: 600;
}

.view-details-btn:hover {
  background-color: #fff;
  color: #00adef;
  border-color: #fff;
} */
