/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 0 50px;
  height: 70px;
  transition: all 0.3s ease-in-out;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover {
  color: #0069d9;
}

.navbar .brand {
  font-size: 24px;
  font-weight: 700;
}

.navbar .nav-links {
  display: flex;
  align-items: center;
}

.navbar .nav-links a {
  margin: 0 20px;
}

.navbar .nav-links a.active {
  color: #0069d9;
}

.navbar .nav-links a:hover {
  background-color: rgba(0, 105, 217, 0.1);
  border-radius: 10px;
}

.navbar.scrolled {
  background-color: #fff;
  color: #333;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled .nav-links a {
  color: #333;
}

@media (max-width: 992px) {
  .navbar {
    padding: 0 30px;
  }

  .navbar .nav-links {
    display: none;
  }

  .navbar .menu-btn {
    display: block;
  }
}

@media (max-width: 768px) {
  .navbar {
    height: 60px;
  }
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 0 50px;
  height: 70px;
  transition: all 0.3s ease-in-out;
}

.navbar a {
  color: #999; /* light grey color */
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover {
  color: #0069d9;
}

.navbar .brand {
  font-size: 24px;
  font-weight: 700;
}

.navbar .nav-links {
  display: flex;
  align-items: center;
}

.navbar .nav-links a {
  margin: 0 20px;
}

.navbar.scrolled {
  background-color: #fff;
  color: #333;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled .nav-links a {
  color: #333;
}

@media (max-width: 992px) {
  .navbar {
    padding: 0 30px;
  }

  .navbar .nav-links {
    display: none;
  }

  .navbar .menu-btn {
    display: block;
  }
}

@media (max-width: 768px) {
  .navbar {
    height: 60px;
  }
}
